{% extends 'base.html' %}

{% block body %}

    <h1>Graph</h1>
    <hr>

    <!-- === graph === -->

    <div id="heatmap" style="width:600px; height: 600px;"></div>
    
    <form action="" method="post">
        {% csrf_token %}
        <button class="ui negative button mtop" type="submit" style="margin: 20px auto;">Remove this file</button>
    </form>

    {% for file in files %}
        <a href="{% url 'graph' file.id %}">{{file.timestamp}}</a>
        <br>
    {% endfor %}

    
    <br><br>

    
    <a href="{% url 'home' %}">Back to Home</a>


    <!-- === custom JS === -->
    
    <script>
        document.addEventListener('DOMContentLoaded', (e)=>{
            var heatmap = h337.create({
                container: document.querySelector('#heatmap'),
                radius: 20,
                maxOpacity: .5,
                minOpacity: 0,
                blur: .75,
                width: 600,
                height: 600
            })
            heatmap.setData({
                max: 40,
                min: 10,
                data: [
                    {% for item in data %}
                        {{item}}
                    {% endfor %}
                ]
            });
        }) 
    </script>

{% endblock %}